# Ignore unnecessary build files
build/default/debug/ECU_layer/ecu_init.p1
build/default/debug/MCAL_layer/ADC/hal_adc.p1
build/default/debug/MCAL_layer/EEPROM/mcal_eeprom.i
build/default/debug/MCAL_layer/EEPROM/mcal_eeprom.p1
build/default/debug/MCAL_layer/Interrupt/mcal_external_interrupt.i
build/default/debug/MCAL_layer/Interrupt/mcal_external_interrupt.p1
build/default/debug/MCAL_layer/Interrupt/mcal_internal_interrupt.i
build/default/debug/MCAL_layer/Interrupt/mcal_internal_interrupt.p1
build/default/debug/MCAL_layer/Interrupt/mcal_interrupt_manager.i
build/default/debug/MCAL_layer/Interrupt/mcal_interrupt_manager.p1
build/default/debug/application.i
build/default/debug/application.p1
dist/default/debug/interfacing_main.X.debug.cmf
dist/default/debug/interfacing_main.X.debug.elf
dist/default/debug/interfacing_main.X.debug.hxl
dist/default/debug/interfacing_main.X.debug.lst
dist/default/debug/interfacing_main.X.debug.map
dist/default/debug/interfacing_main.X.debug.mum
dist/default/debug/interfacing_main.X.debug.o
dist/default/debug/interfacing_main.X.debug.rlf
dist/default/debug/interfacing_main.X.debug.sdb
dist/default/debug/interfacing_main.X.debug.sym
dist/default/debug/memoryfile.xml
nbproject/Makefile-default.mk
nbproject/Makefile-genesis.properties
nbproject/configurations.xml
nbproject/private/private.xml

